<%- include("partials/header"); -%>
  <section class="blog-single">
    <div class="container">
      <div class="row">
        <div class="title text-center">
          <h2 style="
            font-size: 40px;
            font-family: Playfair Display, serif;
            font-weight: 700;
          ">
            <%=title%>
          </h2>
          <h2 style="
                    font-size: 40px;
                    font-family: Playfair Display, serif;
                    font-weight: 700;
                  ">
            <%=vis%> Views
          </h2>
        </div>
        <div class="col-md-12">
          <!-- Blog Left Sections
				  =========================-->
          <!-- Single Blog Page Main Img
            ============================== -->
          <div class="blog-single-section-img">
            <img src="<%=img%>" alt="Blog Single Img" />
          </div>
          <!-- Single Blog Page Main Content
            ================================== -->
          <div class="blog-single-content">
            <div class="blog-content-description">
              <div class="meta">
                <div class="date">
                  <p>
                    <%=date%>
                  </p>
                </div>
                <div class="author">
                  <p>By <%=author%>
                  </p>
                </div>
              </div>
              <p class="blog-description">
                <%=content%>
              </p>
            </div>
          </div>
          <!-- End Single Blog Content -->
        </div>
      </div>
    </div>
  </section>
  <%- include("partials/footer"); -%>